@font-face {
  font-family: 'my-mac' !important;
  font-style: normal !important;
  font-weight: normal !important;
  src: url('~@/assets/font/mac.ttf') format('truetype') !important;
}
@font-face {
  font-family: 'whzzlsf' !important;
  font-style: normal !important;
  font-weight: normal !important;
  src: url('~@/assets/font/王汉宗中隶书繁.ttf') format('truetype') !important;
}

// @font-face {
//   font-family: 'my-mac' !important;
//   font-style: normal !important;
//   font-weight: normal !important;
//   src: url('mac.ttf') format('truetype') !important;
// }
// @font-face {
//   font-family: 'whzzlsf' !important;
//   font-style: normal !important;
//   font-weight: normal !important;
//   src: url('王汉宗中隶书繁.ttf') format('truetype') !important;
// }