// @font-face {
//   font-family: 'my-mac' !important;
//   font-style: normal !important;
//   font-weight: normal !important;
//   src: url('~@/assets/font/mac.ttf') format('truetype') !important;
// }

@font-face {
  font-family: 'my-mac' !important;
  font-style: normal !important;
  font-weight: normal !important;
  src: url('mac.ttf') format('truetype') !important;
}
